* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

#menu {
    margin-top: 30px;
    list-style: none;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.menuItem {
    width: 100px;
    font-size: 20px;
}

.header {
    width: 310px;
    align-items: center;
}

h1 {
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 60px;
    margin-top: 0;
}

#content {
    text-align: center;
}

img {
    width: 80%;
}

.menuItem a {
    text-decoration: none;
    color: black;
}

h3 {
    font-size: 25px;
    font-weight: 1000;
    margin-top: 50px;
}

ul {
    list-style: none;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.SelectB {
    width: 90%;
    background-color: white;
    border: 1px solid black;
    height: 30px;
    border-radius: 5px;
}

.SelectItem {
    width: 150px;
    font-size: 20px;
}

.SelectB:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 600;
}

#pres {
    margin-top: 70px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
}

#OurLogos {
    margin-top: 80px;
}

#OurLogos h3 {
    margin-bottom: 60px;
}

.presdiv {
    width: 33%;
}

.presdiv p {
    font-size: 20px;
    margin-top: 30px;
}

.presdiv img {
    width: 100%;
}

.presdiv svg {
    margin-top: -10px;
}

#About p {
    padding-right: 20%;
    opacity: 80%;
    text-align: left;
}

#footer {
    height: 140px;
    background-color: rgb(15, 15, 15);
    margin-top: 100px;
    text-align: left;
    color: rgb(170, 170, 170);
    font-size: 13px;
}

#FLeft {
    float: left;
    width: 30%;
    margin-top: 32px;
}

#FRight {
    float: right;
    width: 20%;
    margin-top: 30px;
}

#FMiddle {
    float: left;
    width: 30%;
    margin-top: 32px;
    padding-left: 14%;
    margin-right: 0;
}

#FMiddle h3 {
    font-size: 25px;
    font-weight: 1000;
    margin: 3px 0 -5px 0;
}

.social-link-icon:hover {
    fill: #fff;
}

#aboutimg {
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#About h2,
h4 {
    z-index: 2;
}

h4 {
    color: white;
    font-size: 90px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 500px;
}

h2 {
    color: white;
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#f {
    margin-top: 200px;
}

#s {
    margin-top: 800px;
}

a {
    text-decoration: none;
    color: white;
}

#footerimg {
    margin-top: 20px;
    height: 80px;
}

#aboutp {
    margin-top: 100px;
}

#About {
    margin-top: 100px;
}

#mainicon {
    position: absolute;
    width: 80px;
    margin-top: 20px;
    margin-left: 20px;
    height: 30px;
}

.inshoeicon {
    position: absolute;
    left: 64.3%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 18%;
    width: 25%;
    opacity: 77%;
}


/* #imgOrig {
    width: 25%;
} */

#imgSVG {
    display: none;
}

#imgBez {
    display: none;
    margin-top: 18.2%;
    width: 26%;
    left: 64.5%;
}

#Bez {
    left: 86%;
    margin-top: 6%;
    width: 35%;
    opacity: 100%;
}

.presd {
    width: 33%;
}

.presd p {
    font-size: 20px;
    margin-top: 30px;
}

#presd {
    margin-top: 150px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
}

.social-link-icon {
    fill: #7e7e7e;
    transition: fill .2s;
    margin-left: 14px;
}

.half {
    margin: 0 10%;
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.halfleft {
    width: 50%;
    flex-grow: 5;
    padding-right: 5%;
}

#SVG {
    width: 100%;
}

#Bez {
    width: 100%;
}

.halfright {
    width: 50%;
    flex-grow: 5;
    padding-left: 5%;
}

.half h5 {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: bold;
}

.halfleft2 {
    width: 50%;
    flex-grow: 5;
    padding-right: 5%;
    filter: grayscale(100%);
}

.halfleft2:hover {
    filter: grayscale(0%);
}

.halfright2 {
    width: 50%;
    flex-grow: 5;
    padding-left: 5%;
    filter: grayscale(100%);
}

.halfright2:hover {
    filter: grayscale(0%);
}

.half2 {
    margin: 0 10%;
    display: flex;
    margin-top: 30px;
}

.half p {
    text-align: justify;
}

.half2 h5 {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: bold;
    text-align: left;
    margin-top: 40%;
}

#imginhalf {
    width: 80%;
    margin-top: 3%;
}

.half svg {
    width: 100%;
    margin-top: 3%;
}

.half canvas {
    width: 100%;
    margin-top: 3%;
}

.half a {
    color: black;
}

@media(max-width: 1600px) {
    h4 {
        font-size: 50px;
        margin-top: 400px;
    }
    #s {
        margin-top: 600px;
    }
}